@font-face {
  font-family: "Clarity City";
  src: url("assets/fonts/regular.ttf") format("truetype");
}

@font-face {
  font-family: "Clarity City";
  src: url("assets/fonts/bold.ttf") format("truetype");
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  --primary-color: #c41919;
  --text-color: #fff;
  --secondary-color: #18191a;
  --txt-size-4: 1vw;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Clarity City";
  background-color: var(--text-color);
}

input:focus {
  outline: none;
}

#nav {
  width: 100%;
  background: var(--secondary-color);
  padding: 1em 2em;
}

#logo {
  color: var(--text-color);
}

#about {
  background-image: url("assets/hero.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  background-size: 100% 100%;
  color: var(--text-color);
}

#welcome-heading {
  font-size: 2.3vw;
}

#why-us {
  background-color: var(--secondary-color);
}

#why-us-img {
  width: 70%;
  height: 100%;
}

#random-shape {
  position: relative;
  top: -10em;
  left: -2em;
  width: 35%;
  height: 35%;
}

#testimonials {
  background-color: var(--secondary-color);
}

#footr {
  font-size: 1vw;
}

#index {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2em;
}

#index a {
  padding: 0.6em 0.6em 0.6em 0;
}

#contact-form > input {
  border: none;
  padding: 1em;
  height: 25%;
  border-bottom: 3px solid var(--secondary-color);
  font-size: 1vw;
}

#contact-form > input:hover {
  border-bottom-color: var(--primary-color);
}

.section-pd {
  padding: 7.5em 5em;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.vignette {
  box-shadow: inset 0 0 100px var(--secondary-color);
}

.centered-items {
  align-items: center;
}

.space-around {
  justify-content: space-around;
}

.bold-txt {
  font-weight: bold;
}

.spacer-r-m {
  margin: 0 60% 0 0;
}

.links a {
  color: var(--text-color);
  font-size: var(--txt-size-4);
  font-style: italic;
  font-weight: bold;
  padding: 0.6em;
  text-decoration: none;
}

.link-btn {
  background: var(--primary-color);
  color: var(--text-color);
  font-size: var(--txt-size-4);
  font-style: italic;
  font-weight: bold;
  padding: 1.5em 0;
  text-decoration: none;
  text-align: center;
  width: 30%;
  height: 100%;
}

.mg-left-m {
  margin-left: 5em;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.txt-clr {
  color: var(--text-color);
}

.txt-clr-bg {
  background-color: var(--text-color);
}

.line {
  width: 10%;
  height: 5px;
  border-radius: 1px;
  margin-right: 1em;
  border: none;
}

.header {
  font-size: 1.25vw;
  font-style: italic;
}

.mg-a-s {
  margin: 1.25em 0;
}

.txt-box {
  width: 40%;
  font-size: 1vw;
}

.spacer-s {
  margin: 1em;
}

.outlined-link-btn {
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-size: var(--txt-size-4);
  font-style: italic;
  font-weight: bold;
  padding: 1.5em 0;
  text-decoration: none;
  text-align: center;
  width: 30%;
}

.primary-clr {
  color: var(--primary-color);
}

.secondary-clr {
  color: var(--secondary-color);
}

.primary-clr-bg {
  background-color: var(--primary-color);
}

.outline {
  -webkit-text-stroke: 2px black;
  font-size: 8vw;
  font-style: italic;
}

.stroke-white {
  -webkit-text-stroke: 2px var(--text-color);
}

.offset-right {
  position: relative;
  left: 3.25em;
  top: 0.3em;
}

.end {
  justify-content: flex-end;
}

.carousel-btn {
  margin: 0.5em;
  width: 7%;
  height: 7%;
}

.large-txt {
  font-size: 3.25vw;
}

.half {
  width: 50%;
}

.black {
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.carousel {
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 1em;
}

.card {
  user-select: none;
  position: relative;
  width: 100%;
  height: 30%;
  font-size: 1vw;
  margin: 0.6em;
}

.slide-up:hover {
  animation: slide-up 0.6s ease-out forwards;
}

.card-txt {
  position: absolute;
  font-size: 1vw;
  width: 100%;
  padding: 0 1.5em;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-img {
  width: 25vw;
  height: 25vw;
}

.italics {
  font-style: italic;
}

.front {
  z-index: 1;
}

.back {
  z-index: 0;
}

.offset-nw {
  position: relative;
  top: 0.35em;
}

.flex-start {
  align-self: flex-start;
}

.txt-box-m {
  width: 95%;
  font-size: 1.5vw;
}

.mg-btm-xs {
  margin-bottom: 0.8em;
}

.mg-btm-s {
  margin-bottom: 1.5em;
}

.mg-btm-m {
  margin-bottom: 2em;
}

.icon {
  width: 5em;
  margin: 1em;
}

.offset-left {
  position: relative;
  left: -0.5em;
}

.mg-a-m {
  margin: 2em 0;
}

.space-between {
  justify-content: space-between;
}

.icon-s {
  width: 10%;
  height: 10%;
}

.pd-s {
  padding: 1.5em;
}

.fixed-txt-box {
  width: 40%;
  height: 40%;
}

.right-triangle {
  border-bottom: 60px solid var(--secondary-color);
  border-right: 60px solid var(--text-color);
  width: 50%;
}

.secondary-clr-bg {
  background-color: var(--secondary-color);
}

.pd-m {
  padding: 3em;
}

.mg-left-s {
  margin-left: 1.5em;
}

.pd-top-s {
  padding-top: 1em;
}

.medium-txt {
  font-size: 1.25vw;
}

.package {
  width: 30%;
  height: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  width: 80%;
  height: 100%;
}

.reveal {
  position: relative;
  opacity: 0;
  transform: translateY(160px);
  transition: all 2s ease-in-out;
}

.reveal.pop-in {
  opacity: 1;
  transform: translateY(0px);
}

.four-by-four-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}

.no-list-decorations {
  list-style-type: none;
}

.ta-l {
  text-align: left;
}

.pd-xs {
  padding: 0.5em;
}

.s-icon {
  width: 1.25em;
  height: 1.25em;
  margin: 0.5em;
}

.max-height {
  height: 100%;
}

.no-txt-decorations {
  text-decoration: none;
}

.vertical-radio-buttons > label {
  display: block;
  padding: 1em;
  font-size: 1vw;
}

.two-col-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}

.no-border {
  border: none;
}

.max-width {
  width: 100%;
}

.no-resize {
  resize: none;
}

.als-c {
  align-self: center;
}

.centered-txt {
  text-align: center;
}

.slide-in {
  animation: slide 0.6s ease-out forwards;
}

.half-filled {
  background-color: var(--secondary-color);
  padding: 5em;
}

.jcentered-items {
  justify-content: center;
}

.width-m {
  width: 80%;
}

@keyframes slide {
  0% {
    transform: translateY(120px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-25px);
  }
}
